#img1{
    background-image: url(../IMG/cupom.jpg);
}
#img2{
    background-image: url(../IMG/estoque.jpg);
}
#img3{
    background-image: url(../IMG/financeiro.jpg);
}
#img4{
    background-image: url(../IMG/bancario.jpg);
}
#img5{
    background-image: url(../IMG/nota\ fiscal.jpg);
}
#img6{
    background-image: url(../IMG/controle.jpeg);
}
#img7{
    background-image: url(../IMG/produção.jpeg);
}
#img8{
    background-image: url(../IMG/restaurante.jpg);
}
#img9{
    background-image: url(../IMG/pet\ shop.jpg);
}
#img10{
    background-image: url(../IMG/desenvolvimento.jpg);
}
#img11{
    background-image: url(../IMG/aplicativos.jpeg);
}
#img12{
    background-image: url(../IMG/software.jpeg);
}
